.Weather {
  padding: 60px;
  border-radius: 5px;
  background: rgb(0 0 0 / 75%);  border-radius: 50px;
  position: absolute;
  top: 172px;
  left: 33%;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather a {
  text-decoration: none;
}

.Weather .btn {
  background-color: #4154ff;
  color: #ffffff;
  right: 15px;
  top: 5px;
  border-radius: 20px;
  border: 0;
  color: #fff;
  width: 95px;
  height: 35px;
  font-size: 12px;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.Weather .weather-forecast-temperature-min {
  opacity: 0.5;
}

.Weather .weather-forecast-temperature {
  font-size: 13px;
}

.Weather small .footer {
  margin-top: 200px;
}
@media(max-width:768px){
 .Weather { position: absolute;
  top: 150PX;
  left: 17%;
}}
@media(max-width:600px ){
  .col-3 {
    flex: 0 0 auto;
    width: 32%;
}
.col-9 {
  flex: 0 0 auto;
  width: 68%;
}
  .Weather {        
    position: absolute;
        width: 92vw;
    left: 4%;
    padding: 24px;
    
  }
  .Weather .btn {
    font-size: 12px !important; 
  }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   width: 0px; 
   padding-right: var(--bs-gutter-x, .0rem); 
   padding-left: var(--bs-gutter-x, .0rem); 
   margin-right: 0px; 
   margin-left: 0px;
}